<!--<md-progress-spinner color="primary" *ngIf="isConnecting"></md-progress-spinner>
<md-card *ngIf="!isConnecting && isConnected && !isFinished && !!remainingTime">
  <md-card-title>
    <label>Time Left {{remainingTime?.toISOString().substr(11,8)}}</label>
  </md-card-title>

  <md-card-content>
    <div [innerHTML]=sanitizer.bypassSecurityTrustHtml(questionHtml)>
    </div>
  </md-card-content>
  <md-card-content>
    <ace-editor [autoUpdateContent]="true" 
      [theme]="'chrome'"
      [readOnly]="true"
     style="min-height: 200px;height:100%;width:100%;">
    </ace-editor>
  </md-card-content>
</md-card>-->